:root {
  --font-color: #fff3e1;

  --background: #251d1e;

  --foreground-dark: #312526;

  --foreground: #801336;
  --foreground-hover: #9b0f3c;
  --foreground-text: #e45218;

  --foreground-light: #bd0c44;
  --foreground-light-hover: #d60648;
  --foreground-light-text: var(--font-color);

  --border: #510a32;
  --border-hover: #610e32;

  
  --highlight: #ee4540;
  --highlight-hover: #f41c14;

  --highlight-alt: #324b18;
  --highlight-alt-text: #84cc37;

  --link-color: #3184d2;
  --link-color-clicked: #398fdf;

  
	--warning: #e24a4a;
	--warning-hover: #e13525;
  
	--save: #18bb03;
	--save-hover: #28c900;
}