:root {
  --font-color: #fff3e1;

  --background: #251d1e;

  --foreground-dark: #312526;

  --foreground: #801336;
  --foreground-hover: #9b0f3c;
  --foreground-text: #e45218;

  --foreground-light: #bd0c44;
  --foreground-light-hover: #d60648;
  --foreground-light-text: var(--font-color);

  --border: #510a32;
  --border-hover: #610e32;

  
  --highlight: #ee4540;
  --highlight-hover: #f41c14;

  --highlight-alt: #324b18;
  --highlight-alt-text: #84cc37;

  --link-color: #3184d2;
  --link-color-clicked: #398fdf;

  
	--warning: #e24a4a;
	--warning-hover: #e13525;
  
	--save: #18bb03;
	--save-hover: #28c900;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url("/font/SourceSansPro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Source Sans Pro";
  src: url("/font/SourceSansPro-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Source Sans Pro";
  src: url("/font/SourceSansPro-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Source Sans Pro";
  src: url("/font/SourceSansPro-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Source Sans Pro";
  src: url("/font/SourceSansPro-Light.ttf") format("truetype");
  font-weight: lighter;
  font-style: normal;
}
@font-face {
  font-family: "Source Sans Pro";
  src: url("/font/SourceSansPro-LightItalic.ttf") format("truetype");
  font-weight: lighter;
  font-style: italic;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;

  background-color: var(--background);
  color: var(--font-color);
  font-family: 'Source Sans Pro', sans-serif;

  overflow: hidden;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;

  transition: background-color 0.2s ease-in-out;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: var(--foreground-light);
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--foreground-light-hover);
}
::-webkit-scrollbar-corner { background: transparent; }

#app {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}